# Ignore node_modules in both client and server
node_modules/


# Ignore environment files
*.env

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore editor/IDE settings
.vscode/
.idea/

# Ignore build output
dist/
build/

# Ignore temporary files
*.tmp
*.swp
*.bak
